.mainDiv{
    text-align: center;
    margin:0 2rem;
    font-family: 'Josefin Sans', sans-serif; 
}

.attending{
    color:green;
}

.notAttending{
    color:red
}

.changeDiv{
    margin:0 2rem;
}

.mainDiv h3{
    font-family: 'Martel','serif';
}

.mainDiv h4{
    font-family: 'Martel','serif';
}