.names{
    font-family: 'Martel','serif';
    color:#a4b7a9;
}

.mainDiv{
    text-align: center;
    margin: 0 2rem;
}

.menu a{
    margin:0 0.5rem;
    font-family: 'Josefin Sans', sans-serif; 
    color:#AEA4D0
}

.menu a:hover{
    color:#7e759f;
    cursor:pointer

}

.divider{
    border-color: #a4b7a9;
    width:15rem;
    margin-top:1rem;
}

.mobileMenu{
    text-align: center;
    margin:0 auto; 
    color:#AEA4D0;
}