.mainDiv{
    text-align: center;
    width:100%;
}

.imageDiv{
    width:30rem;
    /* margin:1.5rem auto;
    margin-top:3rem; */
}

.titleDiv{
    /* position:relative;
    bottom:4.5rem; */
    font-family: 'Martel','serif';
    color:#2C8A6F
}

@media only screen and (max-width:500px){

    .imageDiv{
        width:90%;
    }

    .titleDiv{
        bottom:0
    }
}

.button{
    margin-top:1rem;
}

.textField{
    margin-top:4rem
}

.contactLink{
    color:#E65631;
}

.contactLink a{
    font-weight: bold;
    cursor:pointer
}

/* font-family: 'Josefin Sans', sans-serif; */

