.mainDiv{
    text-align: center;
}

.imageDiv{
    width:30rem;
    margin:1.5rem auto;
    margin-top:3rem;
    position:relative;
    right:1.7rem;
}

.titleDiv{
    position:relative;
    bottom:4.5rem;
    font-family: 'Martel','serif';
    color:#a4b7a9
}

@media only screen and (max-width:500px){
    .imageDiv{
        width:20rem;
        display:block;
    }

    .titleDiv{
        bottom:0
    }
}

.button{
    margin-top:1rem;
}

.textField{
    margin-top:4rem
}

.contactLink{
    color:#AEA4D0;
}

.contactLink a{
    font-weight: bold;
    cursor:pointer
}

/* font-family: 'Josefin Sans', sans-serif; */

