.mainDiv{
    margin: 3rem auto;
    width:30rem;
}

.mainDiv h3{
    text-align: center;
    
}

.mainTitle{
    color:#a4b7a9;
    font-family: 'Josefin Sans', sans-serif;
}

.card{
    border:solid;
    border-width: 2px;
    border-color:#7e759f;
    border-radius:1rem;
    background: #e0d5ff;
    padding:0.2rem 2rem
}