.mainDiv{
    /* margin: 3rem auto; */
    width:30rem;
    margin:1rem auto;
}

.mainDiv h3{
    text-align: center;
    
}

.mainTitle{
    color:#2C8A6F;
    font-family: 'Josefin Sans', sans-serif;
}

.card{
    border:solid;
    border-width: 2px;
    border-color:#E65631;
    border-radius:1rem;
    background: #f8d3c9;
    padding:0.2rem 2rem;
    width:30rem;
}

@media only screen and (max-width: 500px) {
    .mainDiv{
        width:22rem;
        padding: 0 0;
        margin:0 0;
    }
    .card{
        width:22rem;
        margin:0 auto;
        padding:0.2rem 0.5rem;
    }
  }