.mainDiv{
    margin:1rem auto;
    max-width:30rem;
}

.mainDiv h2{
    text-align: center;
    font-family: 'Martel','serif';
    text-decoration: underline;
}

.mainDiv h3{
    text-align: center;
    font-family: 'Martel','serif';;
}

.mainDiv h4{
    font-family: 'Martel','serif';;
}

.mainDiv body{
    font-family: 'Josefin Sans', sans-serif; 
}

.mainDiv a{
    color:blue
}

.mainDiv a:hover{
    color:orangered
}