.address{
    text-align: center;
    text-decoration: underline;
}

.title{
    font-family: 'Martel','serif';
    margin-bottom:0;
}

.discountCode{
    background-color:#d5e9db;
    width:16rem;
    margin:0 auto;
    margin-bottom:0.5rem;
    padding:5px;
    text-align: center;
    border-radius:0.5rem;
}

.hotelLink{
    color:#c5b67e;
    font-weight:bold;
}

.hotelLink:hover{
    color:#f9e8ae
}

@media only screen and (max-width: 500px) {
    .discountCode{
        width:13rem;
        text-align: center;
    }
  }