.selectDiv{
    width:280;
    margin-top:2rem;
    text-align: center;
}

.skyScanner{
    max-width: 40rem;
    margin: 1rem auto;
}

.skyScanner h3{
    text-align: center;
    margin-top:2rem
}

.gridDiv{
    width:80%;
    margin:0 auto;
}

.languageDisclaimer{
    margin:2rem auto;
    max-width: 50rem;
    text-align: center;
    padding:0.5rem 2rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif; 
    background-color: #FFCCCB;
    border-radius:1rem
}

@media only screen and (max-width: 800px) {
    .languageDisclaimer{
        width:20rem;
    }
  }