.mainDiv{
    margin: 0 auto;
    width:100%;
}

.paragraph{
    max-width:50rem;
    text-align: center;
    margin:0.5rem auto;
    margin-top:2rem;
    font-family: 'Martel','serif';
    padding:0 3rem;
}


@media only screen and (max-width: 500px) {
    .mainDiv{
        width:24rem;
    }
    .paragraph{
        width:22rem;
        padding:0 0.5rem;
    }
  }